# PANDAS

- designed to be used with tabular data
- built on top of numpy
- used for data cleaning and preparation , fast analysis
- also used for data visualization

In [1]:
#importing pandas
import pandas as pd

In [2]:
import numpy as np

## SERIES

- 1-D array like structure containing sequence of values

In [3]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [4]:
#creating series
pd.Series(data = my_data) #will create auto-index

0    10
1    20
2    30
dtype: int64

In [5]:
#creating series with custom index
pd.Series(data=my_data , index = labels)

a    10
b    20
c    30
dtype: int64

In [6]:
#creating series with numpy array
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [8]:
#creating series with dictionary
# keys will become index and values will become value
pd.Series(d)

a    10
b    20
c    30
dtype: int64

## Grabbing information from series

In [9]:
ser1 = pd.Series([1,2,3,4],index = ['USA','Germany','USSR','Japan'])

In [10]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [11]:
ser2 = pd.Series([1,2,5,4],index=['USA','Germany','Italy','Japan'])

In [12]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [13]:
#syntax for grabbing info --> series_name[index_label]

In [14]:
ser1['USA']

1

In [17]:
ser3 = pd.Series(data=labels,name = 'INDEX AS VALUES')

In [18]:
ser3

0    a
1    b
2    c
Name: INDEX AS VALUES, dtype: object

In [19]:
print(ser1)
print()
print(ser2)

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

### adding two series

- if same index is not found in both the series , then the value will become nan(null) because addition will happen on the values with same index number

In [40]:
ser4 = ser1+ser2

# SERIES METHODS

### INDEX

- will give an array of index  of series

In [26]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [27]:
ser2.index

Index(['USA', 'Germany', 'Italy', 'Japan'], dtype='object')

### values

- will give an array of values of series

In [25]:
ser2.values

array([1, 2, 5, 4], dtype=int64)

## Grabbing information using index

## loc

- used for fetching information where custom index name is used.

In [28]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [30]:
ser2.loc['Italy']

5

## iloc

- used for fetching information using index position

In [31]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [32]:
ser2[2]

5

## Fetching multiple values

- pass a list of index names

In [33]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [37]:
ser2[['Italy','Japan']]

Italy    5
Japan    4
dtype: int64

In [38]:
ser2[[2,3]]

Italy    5
Japan    4
dtype: int64

## CHECK FOR NULL VALUES

In [41]:
#isnull is used
ser4.isnull()

Germany    False
Italy       True
Japan      False
USA        False
USSR        True
dtype: bool

In [42]:
#isna can also be used
ser4.isna()

Germany    False
Italy       True
Japan      False
USA        False
USSR        True
dtype: bool